<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Security-Policy" content="script-src 'self' https://kit.fontawesome.com;">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" value="#b0f06c">
        <meta name="description" content="a quick way to copy missing characters on a keyboard">
        <meta name="author" content="ssebastianoo">
        <meta property="og:title" content="missingchar" />
        <meta property="og:description" content="a quick way to copy missing characters on a keyboard" />
        <meta property="og:image" content="../assets/logo.ico" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://seba.gq/missingchar" />
        <meta property="og:site_name" content="missing char" />
        <meta property="og:locale" content="en_US" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@ssebastianoo" />
        <meta name="twitter:creator" content="@ssebastianoo" />
        <meta name="twitter:title" content="missing char" />
        <meta name="twitter:description" content="a quick way to copy missing characters on a keyboard" />
        <meta name="twitter:image" content="../assets/logo.png" />
        <title>missing char</title>
        <link rel="stylesheet" href="../assets/style.css">
        <link rel="icon" href="../assets/logo.ico">
        <script src="https://kit.fontawesome.com/2cd6389f66.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="topBar">
            <a href="./settings.html" class="option settings-btn"><i class="fas fa-cog"></i></a>
            <div class="options">   
                <span class="option" id="minimize"><i class="fas fa-window-minimize"></i></span>
                <span class="option" id="maximize"><i class="fas fa-expand"></i></span>
                <span class="option" id="close"><i class="fas fa-times"></i></span>
            </div>
        </div>
        <div class="alert hidden" id="copiedAlert">
            <h2><span>copied!</span></h2>
        </div>
        <div class="chars">
            <div class="char">
                <a>á</a>
            </div>
            <div class="char">
                <a>é</a>
            </div>
            <div class="char">
                <a>í</a>
            </div>
            <div class="char">
                <a>ó</a>
            </div>
            <div class="char">
                <a>ú</a>
            </div>
        </div>
        <script src="../assets/settings.js"></script>
        <script src="../assets/script.js"></script>
        <script src="../assets/menu.js"></script>
    </body>
</html>