:root {
    --first-color: #36393E;
    --second-color: black;
    --third-color: #202224;
    --main-color: #b0f06c;
    --fifth-color: #6a963b;
    --font: 'Courier New';
}

body {
    background: RGBA(54, 57, 62, 0.8);
    color: var(--second-color);
    overflow-x: hidden;
    font-family: var(--font);
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.chars {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
}

.char {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}

/* https://dev.to/webdeasy/top-20-css-buttons-animations-f41 */

.char a {
    font-size: 35px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    text-decoration:none;
    background-color: var(--main-color);
    display: block;
    position: relative;
    padding: 20px 40px;
    box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 var(--fifth-color);
    border-radius: 5px;
    transition-duration: .2s;
}

.char a:active, .option:active {
    top: 10px;
    background-color: var(--fifth-color);
}

.char a:hover{
    font-size: 250%;
}

.alert {
    transition-duration: .4s;
}

.alert span {
    background: var(--main-color);
    box-shadow: 5px 5px var(--fifth-color);
    padding: 10px 10px;
    border-radius: 15px;
    transition-duration: .3s;
}

.hidden {
    transform: translateX(-300%);
}

.topBar {
    -webkit-app-region: drag;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.options {
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    font-size: 120%;
}

.option {
    -webkit-app-region: no-drag;
    cursor: pointer;
    background-color: var(--main-color);
    padding: 3px 10px;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 var(--fifth-color);
    transition-duration: .1s;
}

.option:hover {
    font-size: 108%;
}

.settings-btn {
    color: unset;
    text-decoration: none;
    text-align: left;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.settings {
    text-align: center;
    margin-top: 100px;
}

.setting {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.setting span {
    background: var(--main-color);
    padding: 5px 5px;
    border-radius: 5px;
    margin-right: 10px;
}

.setting input {
    cursor: pointer;
}